/*General reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Logo for big screens*/
.logo1{
  background-color: white;
  position:relative;
  z-index: -1;
}
/*Logo for mobile*/
.logo2 {
  display: none;
}

/* Add a background color to the top navigation */
.topnav {
    background-color: #ffffff;
    overflow: hidden;
    padding-left: 280px;
    margin-top: -10px;
  }  

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #ff3700;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
  /* Dropdown container - needed to position the dropdown content */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbutton {
    font-size: 17px;
    border: none;
    outline: none;
    background-color: white;
    color: #ff3700;
    padding: 14px 16px;
    width: 160px;
    font-size: 14px;
    margin: 0;
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    border-radius: 0px;
    width: 160px;
    overflow: auto;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: #ff3700;
    background-color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    padding-left: 25px;
    text-align: left;
  }
  
  /* Add a background on topnav links and the dropdown button on hover */
  .topnav a:hover, .dropdown:hover .dropbutton, .topnav a.split:hover {
    background-color: #e1e1e1;
    color: #ff3700;
    cursor: pointer;
  }
  
  /* Add a grey background to dropdown links on click */
  .dropdown-content {
    background-color: #e1e1e1;
    color: #ff3700;
  }
  
  /* Hide the dropdown menu  */
  .dropdown:hover .dropdown-content {
    display: none;
  }
  
  /* When the screen is less than 1000 pixels wide, 
  hide all links, except for the first one ("Home"). Show the 
  link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 1000px) {

    .logo1{
      width: 100%;
      height: auto;
    }

    .topnav {
      background-color: #ffffff;
      margin-top: 0;
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
      position: relative; /* Ensure it stays below the logo */
    }

    .topnav.responsive {
      flex-direction: column; /* Stack items vertically in responsive mode */
      position: relative;
    }

    .topnav.responsive a.split {
      float: none;
      text-align: left; /* Align under the burger menu/home */
    }

    .topnav.responsive a.icon { /*Burger Icon*/
      position: absolute;
      right: 0;
      top: 0;
    }

      /* Contact Us and Webshop should behave like regular menu items under the burger menu */
    .topnav.responsive .dropdown {
      float: none;
    }

    .topnav.responsive .dropdown-content {
      position: relative; 
      background-color: #ffffff;
  }

  .topnav.responsive .dropdown .dropbutton {
    display: block;
    /*width: 100%;*/
    text-align: left;
  }

    .topnav a:not(:first-child), .dropdown .dropbutton {
      display: none;
    }

    /*Burger Icon float to right*/
    .topnav a.icon {
      float: right;
      display: block;
      position: absolute;
      right: 0;
    }    

    /*Orange box made thinner on smaller screen*/
    .orangeBox{
      max-height: 80px;
    }

    .imagerow{
      display:flex;
      flex-direction: row;
      flex-wrap: wrap; 
      justify-content: center;  
      flex-grow: 1;                                                              
    }

    .imagelinks{
      max-width: 350px;
    }
  }

  
  /* The "responsive" class is added to the topnav with JavaScript 
  when the user clicks on the icon. */
  @media screen and (max-width: 1000px) {

    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      width: fit-content;
    }
    
    iframe{
      width: 100%vw !important;
    }

  }

  /*Change logo on smaller screen*/
  @media screen and (max-width: 850px) {
    .logo1{
      display:none;
    }
    .logo2{
      display: block;
      margin: 0 auto;
      text-align: center;
    }
    .topnav {
      background-color: #ffffff;
      margin-top: 0;
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
      position: relative; /* Ensure it stays below the logo */
    }
    
    .topnav a:first-child {
      margin-left: 0; /* Override any existing margin */
      flex-grow: 1;
      text-align: left;                                                
    }
    
    /* Ensure the burger menu icon is aligned to the right */
    .topnav a.icon {
      margin-right: 0; /* Override any existing margin */
    }
    
    .topnav.responsive a {
      display: block;
      text-align: left;
    }
    
    .topnav.responsive a.icon {
      text-align: right;
    }
    /*HOMEPAGE Shows the imagelinks 2 and 2*/
    .imagerow{
      display:flex;
      flex-direction: column;
      flex-wrap: wrap; 
      
      align-items: center;
      flex-grow: 1;                                                              
    }
    .imagelinks{
      max-width: 300px;
    }
  
  /*Responsiveness contactform: picture not visible*/
      div#imageField{
        display: none;
      }

      #partnerBox{
        gap: 25px !important;
      }
    }

  /* Create a right-aligned (split) link inside the navigation bar, move above responsiveness */
.topnav a.split {
    float: right;
    color: #ff3700;
    background-color: #ffffff;
    padding: 14px 16px;
  }


.orangeBox {
  height: 150px; /* Height of the div */
  width: 100%; /* Full width of the container */
  background-color: #ff3700; /* Orange background */
}

/*HOMEPAGE Imagelinks*/
.imagerow{
  display:flex;
  justify-content: space-evenly;
  gap: 10px;
}

.imagelinks {
  position: relative;
  z-index: 99;
                                                 
}

.imageOverlay{
  display: none;
}

.imageOverlay{                               
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 98.5%;
  z-index: 10;
  top:0;
  left:0;
  display: none;
  align-items: center;
  justify-content: center;
}

.imagelinks:hover .imageOverlay {
  display: flex; 
}

a.imageAnchor{
  background-color:rgb(33, 47, 34, 1);
  text-align: center;
  padding: 10px;
  width: 100px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

a.imageAnchor:visited{
  color:rgb(255, 255, 255);
}

/*Partners section*/
.partners {
  height: 150px; 
  width: 100%; 
  background-color: #B0C395; /* Green background */
}

.partners-h1 {
  text-align: center;
  color: #ffffff;
  font-size: 1.5rem;
  padding:20px;
}

#partnerBox{
  display:flex;
  justify-content: center;
  gap: 100px;
}
/*End of partner section*/

/*Footer*/

footer {
  background-color: #ff3700;
  color: white;
  padding: 10px 0;
  font-size: 11px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: auto;
  padding: 0 15px;
}

.contact-info h3 {
  margin-bottom: 20px;
}

.emailTo{
  color: white; 
  text-decoration: none;
}

.emailTo:hover {
 color: #212f22 !important; 
}

.social-media {
  display: flex;
  gap: 25px;
}

.social-icon {
  color: white;
  font-size: 24px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  color: #212f22;
  transform: scale(1.3);
}

/*End of footer*/

/*CONTACT US PAGE*/

#contactForm{
  display:flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 800px;
}

div#inputField{
  height: 550px;
  width: 400px;
  text-align: center;
  margin: 50px 0px 50px 0px;
  border-left: #212f22 solid 2px;
  border-bottom: #212f22 solid 2px;
  background-color: #B0C395;
}

div#imageField{
  height: 550px;
  text-align: center;
  justify-content: center;
}

input:not(#bookingCheckbox), textarea, select {  /*checkbox for booking is excluded*/
  padding: 5px;
  border-radius: 5px;
  width: 80%; 
}

 #submitButton{
  padding: 5px;
  border-radius: 5px;
  width: 80%;
  background-color: #212f22;
  color: white;
 }

.hidden {
  display: none;
}
/*End of contact page*/

/*About me Page/     main-id: aboutUs     div-id: aboutUs     div-class: aboutText = #ShortBIO    h1 aboutUsHead + p aboutP */

div#aboutUs{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: 
    "header1 header2 header2 header2 header2 header2 header2 header3"
    "main1 main2 main2 main3 main3 main4 main4 main5"
    "footer1 footer2 footer2 footer2 footer2 footer2 footer2 footer3";
    gap: 20px;
}

.aboutText{
  background-color: #B0C395;
  text-align: center;
  border: 1px solid #212f22;
  border-radius: 5px;
  min-height: 300px;
}

.aboutText:first-child{
  min-height: 0;
}

.flip{/*flip card inner*/
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.aboutText:hover .flip{
  transform: rotateY(180deg);
}

.front, .back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #B0C395; /* Match your card's color */
  border-radius: 5px;
}

.front{
  background-color: #B0C395;
}

.back{
  transform: rotateY(180deg);
}

h1.aboutUsHead{
  font-size: 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

p.aboutP{
  margin:0 10px 0 10px;
  font-size: 13px;
}

#ShortBIO{
  text-align: center;
  grid-area: header2;
  border-radius: 5px;
  display: flex;
}

#ShortBIO:hover{
  transform: scale(1.06);
  transition-duration: 0.5s;
}
.BIOimage{
  height: 250px;
  width: auto;
}

.IMAGE{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 55px;
}

#Education{
  grid-area: main2;
}

#Football{
  grid-area: main3;
}

#Services{
  grid-area: main4;
}

@media screen and (max-width: 950px) {
  .IMAGE{
    width: 100px;
    height: 100px;
  }

  p.aboutP{
    font-size: 11px;
  }
  .BIOimage{
    height: 175px;
    width: auto;
  }

}

@media screen and (max-width:450px) {
  div#inputField{
    width: 350px;
  }
  
  .IMAGE {
    width: 80px;
    height:auto;
  }
  h1.aboutUsHead{
    font-size: 12px;
  }
  p.aboutP{
    font-size: 7px;
  }
}


/*End of about me page*/